th {
  color: rgb(53, 53, 185); /* Blue column names */
  background-color: #a8b8c6; /* Light blue background */
  padding: 10px;
  text-align: left;
}

.delete {
  background-color: rgb(218, 156, 156);
  color: rgb(77, 7, 7);
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
}

.delete:hover {
  background-color: darkred;
}

.update {
  background-color: rgb(145, 198, 145);
  color: rgb(182, 121, 121);
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
}

.update:hover {
  background-color: darkgreen;
}
